@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("Graphics/bckgrnd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.break {
    height: 2px;
}

.user-input,
textarea,
.post-input {
    width: 100%;
    padding: 12px;
    border: 3px solid rgb(0, 76, 139);
    border-radius: 15px;
    resize: vertical;
}

.user-input:focus,
.post-input:focus,
textarea:focus {
    outline-style: none;
    transition: border 0.4s linear;
    border-color: wheat;
}

#overlay1,
#overlay2 {
    position: fixed;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
    top: -1px;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.header {
    height: 90px;
    background-color: #24252A;
    color: white;
    display: flex;
    align-items: center;
}

.header h2 {
    position: relative;
    left: 10px;
}

.header img {
    position: relative;
    left: 5px;
    width: 75px;
    height: 75px;
}

#submit-button, #obtain-button, #route-button, #orders-button {
    border: none;
    background: #618685;
    color: #ffffff !important;
    font-weight: bold;
    padding: 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin-left:5px;
}

#submit-body {
    height: 90px;
}

#submit-button:hover, #obtain-button:hover, #route-button:hover, #orders-button:hover {
    /* background-color:  */
    color: white;
    font-weight: 700;
    letter-spacing: 3px;
    background: #006e8a;
    box-shadow: 2px black;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
}


/* VAN DAMME IMAGE */


/* VAN DAMME IMAGE ENDS */

.col-parcels {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-top: 15px;
}

.container {
    border-radius: 5px;
    background-color: #36486b;
    margin: 40px 100px 40px 150px;
}

.sender-body,
.recipient-body,
.pickup-address-body,
.delivery-address-body {
    margin-top: 10px;
}

.sender-body,
.pickup-address-body {
    margin-left: 5px;
}

.big-label {
    position: relative;
    height: 40px;
    margin-top: 50px;
}

.package-size-label {
    position: relative;
    height: 40px;
    font-size: 1.3rem;
    left: 10px;
    top: 35%;
    color: #fefbd8;
}

.big-label h3 {
    position: absolute;
    font-size: 1.7rem;
    color: #fefbd8;
    left: 60px;
}

.comment-label {
    font-size: 1.7rem;
    color: #fefbd8;
}

.col1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20%;
}

.col1 label {
    color: white;
    position: relative;
    font-weight: bold;
}

.col2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 75%;
}

.box {
    background-color: #4a6499;
    border-radius: 9px;
    width: 20%;
    height: 110%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box span:first-of-type {
    margin-top: 10px;
}

.parcel-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    text-align: center;
}


/* HIDE RADIO */

.parcel-radio {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}


/* IMAGE STYLES */

.parcel-radio+img {
    cursor: pointer;
    border-radius: 10px;
    width: 75%;
}


/* CHECKED STYLES */

.parcel-radio:checked+img {
    outline-style: none;
    border-color: rgb(238, 164, 5);
    border-style: solid;
    border-width: 2px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #24252A;
    color: #fff;
}

footer p {
    text-align: center;
}

.row {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.column50 {
    flex: 50%;
}

.comments-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#submit-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#comments {
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 1200px) {
    .big-label h3 {
        left: 30px;
    }
}

#special-class {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mapid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    margin: 100px;
}

@media screen and (max-width: 1150px) {
    .map-comment-row {
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .form-label {
        font-size: 0.8rem;
    }
}

.col1 span {
    color: rgb(189, 8, 8);
}

@media screen and (max-width: 670px) {
    .col1,
    .col2,
    .column-33 {
        width: 100%;
    }
    #comments {
        margin-left: 20px;
        margin-right: 20px;
    }
    .form-label {
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .col2 {
        justify-content: center;
    }
    .user-input {
        margin-left: 60px;
        margin-right: 60px;
    }
    .col-parcels {
        width: 100%;
    }
    .row {
        flex-direction: column;
    }
    .big-label h3 {
        font-size: 1.5rem;
        left: 12px;
    }
    .col-parcels {
        margin-left: 0;
        margin-right: 0;
    }
    .parcel-radio+img {
        width: 50px;
    }
    .box {
        width: 30%;
    }
    .container {
        margin-left: 40px;
        margin-right: 40px;
    }
}